// $Id$ tiki-selector-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These FiveAlive-lite theme option values are used by themes/fivealive-lite/less/_tiki-selectors.scss

$imagePath: "../images/";
$side-column-border: none;
$side-column-card-header-background: #ffffff;
// #f5399c
$side-column-card-header-color: #1174a5;
// #3f1020;
$side-column-card-header-border-color: #1174a5;
$side-column-card-header-border-width: 0 0 1px 0;
$header_outer-background: darken(#28aae1, 10%);
// url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$header-color: #ffffff;
$topbar_container_background: #28aae1;
$form-control-background: #f9dcec;
$form-control-border-colors: #9ae8fa #e3f7fb #e3f7fb #9ae8fa;
$footer-color: #696969;
$footer-border-color: #28aae1;
$footer-link-color: #a9a9a9;
$navbar-dark-navbar-nav-li-a-background: #28aae1;
$postbody-title-background: $header_outer-background;
$postbody-title-color: #000000;
// url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
$brand-primary-of-option: $primary;
$navbar-default-link-background: $navbar-dark-navbar-nav-li-a-background;
$side-column-border: none;
$topbar_container_background: $navbar-dark-navbar-nav-li-a-background;
$navbar-fixed-height: 46px;
// .secondary_site_menu .navbar-nav li.dropdown { border-bottom: none;}
