// $Id$ tiki-selector-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These Lemon theme option values are used by themes/fivealive/less/_tiki-selectors.scss

$imagePath: "../images/";
$imagePathTop: "../../../images/";
$side-column-border: none;
$side-column-panel-heading-background: #ffffff;
// #ffc506 url('#{$imagePath}siteheader.png') no-repeat -1000px -200px
$side-column-panel-heading-border-color: #e4af00;
//#ffc506; // #cdbe23
$side-column-panel-heading-border-width: 0 0 1px 0;
$side-column-panel-title-color: #e4af00;
// #C75A28
$header_outer-background: url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container-background: url('#{$imagePathTop}header_left.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$form-control-background: #fdf1d0;
$form-control-border-colors: #fee194 #fdfae9 #fdfae9 #fee194;
$footer-color: #f4f4f4;
$footer-border-color: #ffc506;
$footer-link-color: #ffc506;
$navbar-default-navbar-nav-li-a-background: #ffc506;
$postbody-title-background: url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
$postbody-title-color: #ffffff;
$brand-primary-of-option: $brand-primary;

.navbar-nav > li.dropdown {
	border-bottom: 1px solid $btn-primary-bg;
}

.tiki .footer_liner a.btn-default,
.tiki .footer_liner a.btn-default:visited {
	color: #242424;
}
