// $Id$
// Custom styles for the Business theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors

$primary:       #0082e0;
$secondary:     #7400c3; // $gray-600 !default;
$success:       #5cb85c;
$info:          #5bc0de;
$warning:       #f0ad4e;
$danger:        #d9534f;

$theme-colors: (
	"primary": #0082e0,
	"secondary": #7400c3,
	"success": #5cb85c,
	"info": #5bc0de,
	"warning": #f0ad4e,
	"danger": #d9534f
);

$gray-500: #737373; //lighten(@gray-base, 33.5%);
$gray-800: darken($gray-500,20%);
$gray-700: darken($gray-500, 15%);
$gray-600: darken($gray-500, 10%);
$gray-300: lighten($gray-500, 10%);
$gray-200: lighten($gray-500, 20%);

//Options
//Spacing

//Body
$body-color: $gray-800;

//Links
//Components
$border-radius-lg: 8px;

//Fonts
$font-family-sans-serif: Verdana, Geneva, Arial, Helvetica, sans-serif;

// Tables
$table-border-color: 			  #dddddd;

// Buttons (Primary and info need to be explicitly defined for converse.js.)
$btn-primary-color: #ffffff;
$btn-primary-bg: #3676c4;
$btn-primary-border: #3676c4;

$btn-secondary-color: #ffffff;
$btn-secondary-bg: #3676c4;

$btn-info-bg: #fff;
$btn-info-color: #17a2b8;
$btn-info-border: #17a2b8;
// Forms
$input-border: #dddddd;
// Dropdowns
// Navs
//Navbar
$navbar-dark-color:			 #ffffff;
$navbar-dark-bg:				 #1f5daa;
$navbar-dark-border:			 darken($navbar-dark-bg, 6.5%);

// Navbar links
$navbar-dark-color: 				 #ffffff;
$navbar-dark-hover-color: 		 darken(#fff, 10%);
$navbar-dark-hover-bg: 			 #3270bd;
$navbar-dark-active-color: 		 #ffffff;
$navbar-dark-active-bg: 			 #3270bd;
$navbar-dark-disabled-color:		 #cccccc;


// Pagination
// Jumbotron
//Cards
$card-border-radius: $border-radius-lg;
$card-text: #fff; // @gray-lighter;
$card-heading-bg: #386dbb;

//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-heading-bg: #386dbb;

// Tooltips

// Popovers

// Badges
// Modals
$modal-header-border-color:   #386dbb;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
